In [1]:
import mysql.connector

In [3]:
conexion = mysql.connector.connect(user='root',
                            password='AlumnaAdalab',
                            host='127.0.0.1',
                            database='information_schema')
mycursor = conexion.cursor()
        
try:
    mycursor.execute("CREATE DATABASE LesicaData")
    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

CMySQLCursor: CREATE DATABASE LesicaData
('adalab',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('lesicadata',)
('mi_primerita_bbdd_python',)
('musica_adalabers',)
('mysql',)
('northwind',)
('performance_schema',)
('proyecto1',)
('sakila',)
('sports_analytics',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('world',)

In [51]:
def creacion_tabla(base_datos, contrase単a, query):
    conexion = mysql.connector.connect(user='root',
                            password=contrase単a,
                            host='127.0.0.1',
                            database=base_datos)
    mycursor = conexion.cursor()
    
    try:
        mycursor.execute(query)
    
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    
    cursor.close()
    conexion.close()

In [56]:
query_tabla_sql = """CREATE TABLE tabla_sql (index_sql INT NOT NULL,
                                                q10_part_1 VARCHAR(100),
                                                q10_part_2 VARCHAR(100),
                                                q10_part_3 VARCHAR(100),
                                                q10_part_4 VARCHAR(100),
                                                q10_part_5 VARCHAR(100),
                                                q10_part_6 VARCHAR(100),
                                                q10_part_7 VARCHAR(100),
                                                q10_part_8 VARCHAR(100),
                                                q10_part_9 VARCHAR(100),
                                                q10_part_10 VARCHAR(100),
                                                q10_part_11 VARCHAR(100),
                                                q10_part_12 VARCHAR(100),
                                                q10_part_13 VARCHAR(100),
                                                q10_part_14 VARCHAR(100),
                                                q10_part_15 VARCHAR(100),
                                                q10_part_16 VARCHAR(100),
                                                q10_other VARCHAR(100),
                                                d482xta VARCHAR(100),
                                                PRIMARY KEY (index_sql))"""

query_tabla_xml = """CREATE TABLE tabla_xml (index_xml INT NOT NULL,
                                            `time` VARCHAR(10),
                                            age VARCHAR(10),
                                            gender VARCHAR(10),
                                            index_sql INT NOT NULL,
                                            PRIMARY KEY (index_xml),
                                            CONSTRAINT `fk_tabla_xml_tabla_sql`
                                                FOREIGN KEY (index_sql)
                                                REFERENCES tabla_sql (index_sql) ON UPDATE CASCADE ON DELETE CASCADE)"""
                                                
query_tabla_txt = """CREATE TABLE tabla_txt (index_txt INT NOT NULL,
                                index_sql INT NOT NULL,
                                q3 VARCHAR(150),
                                q4 VARCHAR(150),
                                q5 VARCHAR(150),
                                q6 VARCHAR(150),
                                q7 VARCHAR(150),
                                q8 VARCHAR(150),
                                q9 VARCHAR(150),
                                q11 VARCHAR(150),
                                q12 VARCHAR(150),
                                q13 VARCHAR(150),
                                q14 VARCHAR(150),
                                q15 VARCHAR(150),
                                q16 VARCHAR(150),
                                q17 VARCHAR(150),
                                q20 VARCHAR(150),
                                q21 VARCHAR(150),
                                q22 VARCHAR(150),
                                q23 VARCHAR(150),
                                q24 VARCHAR(150),
                                q25 VARCHAR(150),
                                q26 VARCHAR(150),
                                q32 VARCHAR(150),
                                q33 VARCHAR(150),
                                q34 VARCHAR(150),
                                q35 VARCHAR(150),
                                q41 VARCHAR(150),
                                PRIMARY KEY (index_txt),
                                CONSTRAINT `fk_tabla_txt_tabla_sql`
                                    FOREIGN KEY (index_sql)
                                    REFERENCES tabla_sql (index_sql) ON UPDATE CASCADE ON DELETE CASCADE)"""

In [57]:
creacion_tabla("lesicadata", "AlumnaAdalab", query_tabla_sql)

In [59]:
creacion_tabla("lesicadata", "AlumnaAdalab", query_tabla_xml)

In [60]:
creacion_tabla("lesicadata", "AlumnaAdalab", query_tabla_txt)

In [ ]:
def insercion_datos(base_datos, contrase単a, query, valores):
    conexion = mysql.connector.connect(user='root',
                            password=contrase単a,
                            host='127.0.0.1',
                            database=base_datos)
    mycursor = conexion.cursor()
    
    try:
        mycursor.executemany(query, valores)
        conexion.commit()
        print(mycursor.rowcount, "registro/s insertado/s.")
          
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    
    cursor.close()
    conexion.close()

In [ ]:
query_insercion_txt = """INSERT INTO tabla_txt (index_txt, index_sql, q3, q4, q5,
                                q6,
                                q7,
                                q8,
                                q9,
                                q11,
                                q12,
                                q13,
                                q14,
                                q15,
                                q16,
                                q17,
                                q20,
                                q21,
                                q22,
                                q23,
                                q24,
                                q25,
                                q26,
                                q32,
                                q33,
                                q34,
                                q35,
                                q41,) VALUES (%s, %s)"""


query_insercion_xml =